<div class="card no-margin-v">
	<div class="text-center blue lighten-1">

        <% if ! @usuario.perfil.foto.nil? and @usuario.perfil.foto != "" %>
          <img src="/<%= request.subdomain %>/avatar/<%= @usuario.perfil.foto %>" style="width:65%;"  class="pad15 center-block circle responsive-img">
        <% else %>
        	<img src="/assets/avatar/sinfoto.jpg" style="width:65%;"  class="pad15 center-block circle responsive-img">
        <% end %>
		<h5 class="card-title white-text no-margin-v"> <%= @usuario.nombre + " " + @usuario.apellido %></h5>
		<span class="text-uppercase white-text"><%= @usuario.perfil.ocupacion %></span>
	</div>  
	<div class="card-content text-center no-padding no-padding-v">
		<% if current_usuario.id == @usuario.id %>
			<ul class="bordered text-left hoverable">
				<li><a href="#info" class="text-uppercase" style="display:block;">Info</a></li>
				<li><a href="/usuarios/editar" class="text-uppercase">editar</a></li>
				<li><a href="/preferencias" class="text-uppercase">preferencias</a></li>
				<li><a href="#ayuda" class="text-uppercase">ayuda</a></li>
			</ul>
		<% else %>
			<a class="btn btn-danger" href="javascript:void(0)"> escribir</a>
		<% end %>	
	</div>
</div>
<div class="pad15"></div>
<div class="panel z-depth-2">
	<ul class="bordered pad15">
		
		<li><a href="/usuarios/<%=  @usuario.id %>" target="_blank" title="cuenta en <%= request.subdomain %>"><i class="fa fa-user gp"></i></a> <%= @usuario.nombre %> <%= @usuario.apellido %></li>	
			
		<% @usuredes.each do |red| %>
           <li><a href="<%= red.red_social.url %><%= red.valor %>"  target="_blank"> <i class="<%= red.red_social.icono %> "></i> <%= red.red_social.url %><%= red.valor %> </a></li>
           <% end %>

	</ul>

</div>