
<% content_for :css_personalizado do %>
  <%= stylesheet_link_tag    "clases" %>
  <%= stylesheet_link_tag    "plugins/fileinput.min" %> 
 
<% end %>
<div class="row titulo-seccion">
  <div class="col s6">
    <h5 class="text-uppercase"> Configurando Curso</h5>
  </div>
  <div class="col s6 text-right">
    <ol class="breadcrumb">
      <li><%= link_to "Home", root_path %></li>
       <li><%= link_to "Cursos", cursos_path %></li>
    <li class="active">Configurando</li>
    </ol>
  </div>
</div>


<div class="row pad30-h">
  <div class="col s8 panel">
    <div class="row">
      <div class="col s12">
        <%= form_for(resource, :as => resource_name, :url => cursos_editar_path, :html => { :method => :post }) do |f| %>
          <div class="row">
            <h5>Datos Curso</h5>
            <div class="input-field col s6">
              <label for="cursos[titulo]">Titulo</label>
              <input id="cursos[titulo]" type="text" required></input>
            </div>
            <div class="col-lg-3">
                   Fecha Inicio: <input id="fecha1" type="date" class="datepicker">
               </div>
              <div class="col-lg-3">
                   Fehca Finalización: <input id="fecha2" type="date" class="datepicker">
              </div>
          </div>
          <div class="row">
            <div class="col s6">
              <label>Tipo Curso</label>
              <select name="curso[tipo]">
                <option value="" disabled selected>Tipo Curso</option>
                <option value="1">Pago</option>
                <option value="2">Gratis</option>
              </select>
            </div>
          </div>

          <hr/>
          <div class="row">
            <div class="input-field col s12">
              <label for="curso[descripcion]">Descripción</label>
              <input id="curso[descripcion]" type="text" required></input>                  
            </div>
          </div>
           <div class="row">
            <div class="input-field col s12">
              <label for="curso[objetivos]">Objetivos</label>
              <input id="curso[objetivos]" type="text" required></input>                  
            </div>
          </div>
           <div class="row">
            <div class="input-field col s12">
              <label for="curso[requisitos]">Requisitos</label>
              <input id="curso[requisitos]" type="text" required></input>                  
            </div>
          </div>
           <div class="row">
            <div class="input-field col s12">
              <label for="curso[dirigido]">A quien va dirigido</label>
              <input id="curso[dirigido]" type="text" required></input>                  
            </div>
          </div>
          
          <hr/>
          <div class="row pad30">
            <div class="col s12">         
              <a href="javascript:void(0)" class="btn btn-success">Guardar</a>
              <a href="javascript:void(0)" class="btn btn-info">Cancelar</a> 
            </div>
          </div>
          <div class="pad15"></div> 
        <% end %>
      </div>
    </div> 
  </div>
  <div class="col s4">
    <div class="row">
      <div class="col s12 panel">
        <h5>Cambiar foto</h5>
        <input id="avatar-id" type="file" class="file" data-upload-url="/usuario/guardar_foto"/>
        <div class="pad15"></div>
      </div>
    </div>
    <div class="pad15"></div>
    <div class="row panel pad15 pad30-h">
      <div class="col s12">
       <b> Si desea modificar el contenido de las lecciones debe dirigirse al curso a modificar </b>
        <div class="pad15"></div>
      </div>
    </div>
    <div class="pad15"></div>
  </div>
</div>
<% content_for :js_personalizado do %>
  <%= javascript_include_tag 'plugins/fileinput.js' %>
  <script type="text/javascript">
    $("#avatar-id").fileinput({
      'browseLabel':'cambiar',
      'showCaption':false,
      'initialPreview': [
        "<img src='/assets/clases-imagen.jpg' class='file-preview-image' alt='Avatar' title='Foto de perfil actual'>",
      ],
      'initialPreviewShowDelete':false,
      'initialCaption':'archivo(s) seleccionado(s)',
      'allowedFileTypes':['image'],
      'allowedFileExtensions':['jpg', 'gif', 'png', 'jpeg'],
      'browseClass':'btn btn-primary',
      'browseIcon':'<i class="mdi-file-attachment"></i>',
      'showRemove':false,
      'uploadLabel':'Subir',
      'uploadIcon':'<i class="mdi-file-file-upload"></i>',
      'uploadClass':'btn btn-success ',
    });
  </script>
<% end %>

