<% content_for :css_personalizado do %>
  <%= stylesheet_link_tag    "cursos" %>
<% end %>
<div class="row">

  <% if ! @curso.foto.nil? %>
  <div id="baner" class="col s12 no-padding" style="background-image:url('/<%= request.subdomain%>/cursos/<%= @curso.foto %>')">  
  <% else %>
    <div id="baner" class="col s12 no-padding" >  
  <% end %>

     <% if ! @facilitador.perfil.foto.nil? and @facilitador.perfil.foto != "" %>
          <img src="/<%= request.subdomain %>/avatar/<%= @facilitador.perfil.foto %>" class="circulo">
        <% else %>
          <img src="/assets/avatar/sinfoto.jpg"  class="circulo">
         
        <% end %>


    <div class="titulo">  
      <h4> <strong><%= @curso.nombre %></strong></h4>
    </div>
  </div>  
</div>
<div class="row">
  <div class="col s4" style="padding-left:55px;">
    <div id="info-instructor">
      <h5 class="text-center">Instructor<br/> 
        <%= @facilitador.nombre %> <%= @facilitador.apellido %></h5> 
        <p> <%=  @facilitador.perfil.biografia %></p>
         <p> <%=  @facilitador.perfil.intereses %></p>
    </div>
    <div>
      <ul class="">
        <li class="">
          <strong>Costo :</strong>  <% if ! @curso.costo.nil? and @curso.costo != "" %>
                    Bs  <%= @curso.costo %> 
               <% else %>
                    Gratis.
               <% end %> </li >
        <li><strong>Puntuacion :</strong>
           <a id="value1"  href="#" data-value="1" title="" >&#9733;</a>
           <a id="value2"  href="#" data-value="2" title="">&#9733;</a>
           <a id="value3" href="#" data-value="3" title="">&#9733;</a>
           <a id="value4" href="#" data-value="4" title="">&#9733;</a>
           <a id="value5" href="#" data-value="5" title="">&#9733;</a>
        </li>
        <% cursoc = CursoCategoria.where("curso_id = ?", @curso.id).limit(1) %>

        <% cursoc.each do |cur| %>
        <% cursoc = cur %>
        <% end %>

        <% if  ! cursoc.nil? and  cursoc.count > 0   %>
        <% catego = Categoria.where("id = ?", cursoc.categoria_id).limit(1) %>

        <% catego.each do |cur| %>
        <% catego = cur %>
        <% end %>
        
        <li class="" ><strong>Categoría: </strong> 
           <% if ! catego.nombre.nil? and catego.nombre != "" %>
                     <%= catego.nombre %> 
            <% end %>

        </li >
        <% end %>
        <li class=""> 
          <strong>Nivel:</strong>     Intermedio
        </li >

        
        <li class=""> 
          <% modulo = Modulo.new %>
          <% grupo = Grupo.where("curso_id = ?", @curso.id)%>
          <% grupo.each do |gru|%>
          <% grupo = gru %>
          <% end %>
          <strong>Duración:</strong>  <%= modulo.duracion_curso(grupo.id)  %>  Dias</li >
        <li><p>Aproximadamente 4 horas de trabajo semanal.</p></li>
      </ul>
    </div >

    <div>
      <div class="favoritear fav">
        <a href="javascript:void(0)">
          <i class="fa fa-heart fa-2x grey-text"></i>
          <i class="fa fa-heart fondo red-text darken-2"></i>
        </a>
      </div>
    </div >


    <div>
      <h5>Comparte este curso</h5>  

      <a class="g-plus" data-action="share" data-annotation="none" data-height="24"></a>
      <a class="fb-share-button" data-href="/<%= request.subdomain %>/cursos/<%= params[:id]%>/ver" data-layout="button" ></a>
      <a class="twitter-share-button" href="https://twitter.com/share" data-related="twitterdev" data-size="large" data-count="none"></a>
    </div>
    <br/>
    <br/>

    <table>
      <% @critica = CriticaCurso.where("curso_id = ?", @curso.id).order("id desc") %>
      <%  @critica.each do |crit|  %>
       <%  @usuario = Usuario.includes(:perfil).where("id = ?", crit.autor_id).limit(1) %>

       <% @usuario.each do |usu| %>
       <% @usuario = usu %>
       <% end %>

      <tr>
        <td> 

        <% if ! @usuario.perfil.foto.nil? and @usuario.perfil.foto != "" %>
          <img src="/<%= request.subdomain %>/avatar/<%= @usuario.perfil.foto %>" class="rosa">
        <% else %>
            <img  src="/assets/avatar/sinfoto.jpg" class="rosa">
        <% end %>
        </td>
        <td><p> <%= crit.contenido %> </p>
        </td>
      </tr>
    <% end %>

      </tr>
    </table>
    <div>
      <a class="btn btn-link" href="javascript:void(0)">VER RESEÑAS</a>
    </div>
    <br/>
    <br/>
  </div>
  <div class="col s6 offset-s1">
    <div class="row pad15">
      <div class="col s8 ">
        <h5> <strong class="text-uppercase">Inversion </strong> Bs 1500</h5> 
      </div>
      <div class="col s4">
        <a href="javascript:void()" id="" class="btn btn-danger">Inscríbete</a>
      </div>
    </div>
    <div></div>
    <ul class="collapsible white">
      <li class="active">
        <div class="collapsible-header  descripcionuno"><h5><strong>Descripción</strong></h5></div>
        <div class="collapsible-body"><p>

           <% if ! @curso.descripcion.nil? and @curso.descripcion != "" %>
                    <%= @curso.descripcion %> 
               <% else %>
                    No se conoce su descripción.
               <% end %>

        </p>
        </div>
      </li>
      <li>
        <div class="collapsible-header  descripcionuno"><h5><strong>Objetivos</strong></h5></div>
        <div class="collapsible-body">
          <p>

               <% if ! @curso.objetivos.nil? and @curso.objetivos != "" %>
                    <%= @curso.objetivos %> 
               <% else %>
                    No se conocen sus objetivos.
               <% end %>

          </p>
        </div>
      </li>
      <li>
        <div class="collapsible-header  descripcionuno"><h5><strong>Requisitos</strong></h5></div>
        <div class="collapsible-body">
          <p>
              <% if ! @curso.prerequisitos.nil? and @curso.prerequisitos != "" %>
                    <%= @curso.prerequisitos %> 
               <% else %>
                    No se conocen sus prerequisitos.
               <% end %>
          </p>
        </div>
      </li>
      <li>
        <div class="collapsible-header  descripcionuno"><h5><strong>A quién está dirigido?</strong></h5></div>
        <div class="collapsible-body">
          <p>
             <% if ! @curso.perfil_estudiante.nil? and @curso.perfil_estudiante != "" %>
                    <%= @perfil_estudiante %> 
               <% else %>
                    No se conoce su a quien va dirigido.
               <% end %>
          </p>
        </div>
      </li>
     
    </ul>
    <br/>
   
    <h5 class="text-center">Currículum</h5>
    <table class="bordered hoverable z-depth-1 white">
      
<% @count = 1 %>
<% @modulo.each do  |modulo| %>
      <thead>
      <tr>
        <th class="td"><strong class="text-uppercase"> Lección <%= @count %>: </strong>  <%= modulo.nombre %>
        </th>
      </tr>
      </thead>
      <tbody class="pad15-h">
         <% modulo.contenidos.each do |contenido| %>
          <% @objeto = ArchivoObjetoAprendizaje.includes(:objeto_aprendizaje).where("archivo_objeto_aprendizajes.id = ?",  contenido.objeto_aprendizaje.id ) %>

            <% @objeto.each do |archivoObjetoAprendizaje| %>
                
                <% if ! archivoObjetoAprendizaje.objeto_aprendizaje.nil? %>
                     <tr>
                      <td>  <%= archivoObjetoAprendizaje.objeto_aprendizaje.id %> </td>
                    </tr>
                <% end %>

            <% end %> 
     <%  end %> 
      </tbody> 
      <% @count = @count + 1 %>
<%  end %>      
    </table>
  </div>
</div> 

<% content_for :js_personalizado do %>

<script>
window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
</script>

<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script src="https://apis.google.com/js/plusone.js"></script>

<script>


  $.ajax({

      url:  "/json/cursos/1/ver/",
      dataType: 'json',
      type: 'POST',
      data: "number="+ $("#ClasesNotificacionesEvaluaciones").attr("class"),
      success: function(data) {
        this.setState({data: data});
      }.bind(this),
      error: function(xhr, status, err) {
        console.error(this.props.url, status, err.toString());
      }.bind(this)
    });
</script>

<% end %>