<% content_for :css_personalizado do%>
	<%= stylesheet_link_tag    "cursos" %>
	<%= stylesheet_link_tag    "clases" %>
<% end %>

<div class="row titulo-seccion">
  <div class="col s6">
    <h5 class="text-uppercase">Mis Secciones</h5>
  </div>
  <div class="col s6 text-right">
    <ol class="breadcrumb">
     <li><%= link_to "Home", root_path %></li>
	  <li class="active">Mis Secciones</li>
    </ol>
  </div>
</div>


<!-- <div class="pad15"></div> -->
<div class="row">
	<div class="col-lg-7 pad45-h">
		
		
		
		<% @grupos = Grupo.includes(:curso).where('fecha_inicio <= ? and ? <= fecha_fin', Time.now.midnight,Time.now.midnight) %>
		<% @grupos.each do |gr| %>
			<% if ! gr.nil? and gr.curso.facilitador_id == current_usuario.id %>

						<div class="panel curso-actual">
						<div class="media">
						  <a class="media-left" href="#">

					         <% if ! gr.curso.foto.nil? and gr.curso.foto != "" %>
					          <img src="/systems/<%= request.subdomain %>/cursos/<%= gr.curso.foto %>" > 
					        <% else %>
					          <img src="/assets/avatar/sinfoto.jpg" /> <%= @organizacion.nombre %>
					        <% end %>  

						  </a>
						  <div class="media-body">
						    <h5 class="media-heading"> <%=  gr.curso.nombre %></h5>
						    <div><% modulo = Modulo.new %>
							    <div class="progress">
								  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="	width:  <%= modulo.porcentajeCurso( gr.id ) %>%;">
								  	<% modulo = Modulo.new %>
								    <span class="sr-only"> <%= modulo.porcentajeCurso( gr.id ) %> </span>
								  </div>
								</div>
								<span class="fecha-inicio"> <%=h gr.fecha_inicio.strftime('%d/%m/%Y').to_s %></span>
								<span class="fecha-fin"><%=h gr.fecha_fin.strftime('%d/%m/%Y').to_s %></span>
							</div>
							<br/>
							<%= link_to "Información", "/cursos/"+gr.curso.id.to_s+"/ver", {class: "text-uppercase" }, disabled: true %>
							<%= link_to "Ver Sección", "/clases/"+gr.id.to_s, {class: "btn btn-danger ingresar"}%>
						  </div>
						</div>
					</div>
				<hr/>
					

			<% end %>

		<% end %>
		<div class="pad15"></div>
		<hr/>
		<div class="pad15"></div>
	
	
	
</div>
</div>
<div class="pad30"></div>
