<% content_for :css_personalizado do%>
	<%= stylesheet_link_tag    "cursos" %>
	<%= stylesheet_link_tag    "clases" %>
<% end %>
<div class="row titulo-seccion">
  <div class="col s6">
    <h5 class="text-uppercase">Mis cursos</h5>
  </div>
  <div class="col s6 text-right">
    <ol class="breadcrumb">
      <li><%= link_to "Home", root_path %></li>
      <li class="active">Carga Academica</li>
    </ol>
  </div>
</div>
<!-- <div class="pad15"></div> -->
<div class="row">
	<div class="col s7">
		<div class="pad45-h">
			<ul class="nav nav-pills">

			 <% if @clases == "Actuales" %>
			  	<li role="presentation" class="active"><%= link_to "Actual", clases_path %></li>
			 <% else %>
			 	<li role="presentation"><%= link_to "Actual", clases_path %></li>
			  <% end %>

			  <% if @clases == "Pasadas" %>
			     <li role="presentation" class="active"><%= link_to "Pasados", clases_pasados_path %></li>
			 <% else %>
			 	   <li role="presentation"><%= link_to "Pasados", clases_pasados_path %></li>
			  <% end %>

			  <% if @clases == "Futuras" %>
			  		<li role="presentation" class="active"><%= link_to "Futuros", clases_futuros_path %></li>
			  <% else %>
			 	<li role="presentation"><%= link_to "Futuros", clases_futuros_path %></li>
			  <% end %>
			</ul>

		
<br><br>
				 <div id="idd" class="<%= @clases %>"></div>
			 	 <div id="myClase<%= @clases %>"></div>
			
			
		  


			<div class="pad15"></div>
			<hr/>
			<div class="pad15"></div>
			<div>
				<h5 class="text-uppercase">Tu lista de deseos</h5>
				<ul class="deseos recomendaciones inline">
					<div id="ididdeseos" class="ididdeseos"></div>
					<div id="myListaDeseos"></div>
				</ul>
			</div>
		</div>
	</div>
	<div class="col s4 recomendaciones">
		<div class="publicidad text-center">Disponible para publicidad</div>

		<h5 class="text-uppercase">Recomendaciones para ti</h5>
			<div id="ididrecomendados" class="ididrecomendados"></div>
			<div id="myListaRecomendados"></div>


	</div>
</div>
<div class="pad30"></div>
