
<% content_for :css_personalizado do %>
  <%= stylesheet_link_tag    "estadisticos" %>
<% end %>

<div class="row titulo-seccion">
  <div class="col s6">
    <h5 class="text-uppercase">Estadisticos</h5>
  </div>
  <div class="col s6 text-right">
   <ol class="breadcrumb">
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Estadisticos", estadisticos_path %></li>
    <li class="active">Estadisticos General</li>
  </ol>
  </div>
</div>


<div class="row pad30">
    <div class="col-lg-12">
      <div class="row">
          <div class="col-md-4 col-xs-4">
                <h5 class="text-uppercase">Estadisticos</h5>
          </div>
          <div class="col-md-4 col-xs-0"></div>
          <div class="col-md-4 col-xs-8"> 
               <ul class="nav nav-pills pull-right tabs">
                  <li class="tab" role="presentation" title="Estadisticas en lo Económico" > <a href="#semaforo" class="black-text"> <b>General </b> </a> </li>
                  <li class="tab" role="presentation" title="Estadisticas del sistema" > <a href="#bar" class="black-text"> <b> Básicos </b> </a> </li>
                </ul>
          </div>

      </div>
  </div>


  <div class="col-lg-10 pad45-h">

          <div class="tab-panel" id="semaforo" class="col s12">
              <div>
                <br><br><br>
                  <%= render "estadisticos/graficos/semaforo" %>
                 <br><br><br>
                  <%= render "estadisticos/graficos/skeletongauge" %>
                  <br><br><br>
                  <%= render "estadisticos/graficos/circular" %>
             </div>
          </div>

          <div class="tab-panel" id="bar" class="col s12">
              <div>
                <br><br><br>
                  <%= render "estadisticos/graficos/bar" %>
                   <br><br><br>
                  <%= render "estadisticos/graficos/pie" %>
             </div>
          </div>
  </div>
 


</div>

<!-- Modal Structure -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <a href="#" style="float:right;" class="waves-effect btn-flat modal-close"><i class="mdi-content-clear"></i></a>
    <h4>Nombre del Grafico</h4>
    <br/>
    <p>Breve información de  las graficas</p>
  </div>
</div>          


<% content_for :js_personalizado do %>

  <%= javascript_include_tag 'graficos/RGraph.common.core' %>
 <%= javascript_include_tag 'jquery.knob.min' %>
 <%= javascript_include_tag 'graficos/RGraph.bar' %>
 <%= javascript_include_tag 'graficos/RGraph.gauge' %>
 <%= javascript_include_tag 'graficos/RGraph.meter' %>
 <%= javascript_include_tag 'graficos/RGraph.pie' %>



  <script type="text/javascript">
    $('ul.tabs').tabs();
      
      $(document).ready(function ()
        {
            $(".curso_progreso").knob({
          'min':0,
          'max':100,
          'readOnly':true,
          'width':100,
          'thickness':0.3
        });

        })


   
  </script>


<% end %>

