
<% content_for :css_personalizado do %>
  <%= stylesheet_link_tag    "estadisticos" %>
<% end %>
<div class="row pad30">
  <div class="row pad30-h">
  <div class="col-lg-8 tabs">
     
    <h5 class="text-uppercase">Estadisticos</h5>
    <ul class="nav nav-pills pull-right">
      <li role="presentation" title="Estadisticas en lo Económico" > <a href="#economico" class="black-text"> <b> Económico </b> </a> </li>
      <li role="presentation" title="Estadisticas del sistema" > <a href="#sistema" class="black-text"> <b>Sistema </b> </a> </li>
      <li role="presentation" title="Estadisticas Sociales" > <a href="#social" class="black-text"> <b>Social </b> </a> </li>
      
    </ul>

  </div>
  
  <div class="col-lg-8">    
      <div class="tab-pane" id="economico">
        <div>
          <h5 class="text-uppercase"> Económico</h5>
          <%= render "estadisticos/elementos/economico" %>
        </div>
    </div>
    <div class="tab-pane" id="social">
        <div>
           <h5 class="text-uppercase">Sistema </h5>
           <%= render "estadisticos/elementos/sistema" %>
        </div>
    <div class="tab-pane" id="sistema">   
        <div>
          <h5 class="text-uppercase"> Social</h5>
          <%= render "estadisticos/elementos/social" %>
        </div>  
    </div>

    <div>
     
    </div>

  </div>
</div>



</div>
  


<% content_for :js_personalizado do %>

<%= javascript_include_tag 'estadisticos' %>
<%= javascript_include_tag 'jquery.knob.min' %>
<%= javascript_include_tag 'graficos/RGraph.common.core' %>
 <%= javascript_include_tag 'graficos/RGraph.gauge' %>


  <script type="text/javascript">
     
 $(document).ready(function(){

   $(".curso_progreso").knob({
          'min':0,
          'max':100,
          'readOnly':true,
          'width':100,
          'thickness':0.3
        });
    });
      
     $('ul.tabs').tabs();


/****************************************************************************/
/**                Grafico Skeleton                                    */
/***************************************************************************/
      var gauge = new RGraph.Gauge({
                id: 'skeleton',
                min: 0,
                max: 100,
                value: 15,
                options: {
                    'centery': 120,
                    'radius': 130,
                    'angles.start': RGraph.PI,
                    'angles.end': RGraph.TWOPI,
                    'needle.size': 100,
                    'border.width': 0,
                    shadow: false,
                    
                    'colors.ranges': [[0,33,'#4CAF50'], [33,66,'#ffeb3b'],[67,100,'#e02222']],
                    'border.inner': 'rgba(0,0,0,0)',
                    'border.outer': 'rgba(0,0,0,0)',
                    'border.outline': 'rgba(0,0,0,0)',
                    
                    'centerpin.radius': 0
                }
            }).grow()
   
  </script>



<% end %>

