<div id = "header-curso" class="panel z-depth-1">
  <!-- Inicio Cuadro header -->
  <div class="media">
    <div class="media-left">
      <img src="/<%= request.subdomain %>/cursos/<%= @eval.grupo.curso.foto %>" class="img-header-clases" alt="">
    </div>
    <div class="media-body">
      <div id="avance-porcentaje">
        <% @modulo2 = Modulo.new %>
        <input type="text" value="<%=   @modulo2.porcentajeCurso(params[:id]) %>" class="curso_progreso" readonly="readonly">
      </div>
      <h4 class="media-heading"> <%= @eval.grupo.curso.nombre %>  </h4>
      <div>
        Finaliza el  <%=h @eval.grupo.fecha_fin.strftime('%d-%m-%Y') %> 
      </div>
    </div>
  </div>
  <hr>
  <div>
    <ul class="tabs">
      <li class="tab col s2" title="Lecciones del Curso"><a href="#leccionesCurso"> <i class="fa fa-list fa-2x" ></i></a></li>
      <li class="tab col s2" title="Notificaciones del curso"><a href="#notificacionesEvaluacionesCurso"><i class="fa fa-comments-o fa-2x"> </i></a></li>
      <li class="tab col s2" title="Bitacora del Curso"> <a href="#bitacoraCurso"><i class="large mdi-action-explore" style="font-size: 30px;"> </i></a></li>
      <li class="tab col s2" title="Calendario del Curso"> <a href="#calendarioCurso"><i class="fa fa-calendar fa-2x"> </i></a></li>
      <li class="tab col s2" title="Evaluaciones detallada del Curso"> <a href="#evaluacionesCurso"><i class="fa fa-bar-chart-o fa-2x"> </i></a></li>
      <li class="tab col s2" title="Descripciones del curso"> <a href="#descipcionesCurso"><i class="fa fa-info fa-2x"> </i></a></li>   
    </ul>
  </div>
  <!-- Fin Cuadro header -->
</div>

<% content_for :js_personalizado do%>
  <%= javascript_include_tag 'jquery.knob.min' %>
  <script>
  
        $(".curso_progreso").knob({
          'min':0,
          'max':100,
          'readOnly':true,
          'width':60,
          'thickness':0.3
      
    });
  </script>
<% end %>