<div id="info-instructor" class="card white">
	<div class="card-image">

		

		 <% if ! @facilitador.perfil.foto.nil? and @facilitador.perfil.foto != "" %>
          <img src="/<%= request.subdomain %>/avatar/<%= @facilitador.perfil.foto %>" class="img-responsive">
        <% else %>
        	<img src="/assets/avatar/sinfoto.jpg" class="img-responsive">
        <% end %>

	</div>  
	<div class="card-content text-center">
		<h5 class="card-title grey-text darken-4"><%= @facilitador.nombre %> <%= @facilitador.apellido %></h5>
		<span class="text-muted text-uppercase"><%= @facilitador.perfil.ocupacion %></span>
		<ul class="list-inline pad15">
			<li><a href="/usuarios/<%=  @facilitador.id %>" target="_blank" title="cuenta en <%= request.subdomain %>"><i class="fa fa-user gp"></i></a></li>	
			
		<% @usuredes.each do |red| %>
           <li><a href="<%= red.red_social.url %><%= red.valor %>"  target="_blank"> <i class="<%= red.red_social.icono %> "></i></a></li>
           <% end %>
		</ul>
	</div>
</div>