<div class="panel pad30">
  <div class="pad30-h">
    <ul class="list-inline mod-evaluaciones pull-right">
      <li class="tab" title="Listado de evaluaciones del curso" style="width:25px !important;">
        <a href="#listadoEvaluacionesCurso"><i class="fa fa-list"></i></a>
      </li>
      <li class="tab" title="Evaluaciones por tabla del curso"  style="width:25px !important;">
        <a href="#tablasEvaluacionesCurso"><i class="fa fa-table"> </i></a>
      </li>   
    </ul>
  </div>
  
  <!-- Inicio del panel tablasEvaluacionesCurso -->  
  <div class="tab-pane" id="tablasEvaluacionesCurso">
    <table class="bordered hoverable">
      <thead>
        <tr>
          <th>Evaluación</th>
          <th>Calificación</th>
          <th>Útimo Intento</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
         <% @cont = 1%>
         <% @modulo.each do  |modulo| %>
                <% modulo.evaluacions.each do |evaluacion| %>
                      <% @evaluaciongrupos = EvaluacionGrupo.includes(:evaluacion).where("grupo_id = ? and evaluacion_id = ?", params[:id], evaluacion.id ).order('fecha_habilitacion ASC') %>

                         <% @evaluaciongrupos.each do |grupoevaluacion| %>
                           <tr>
                            <td scope="row"><%= grupoevaluacion.evaluacion.titulo %>: <%= grupoevaluacion.evaluacion.descripcion %></td>
                            <td>
                               <%  @evaluacionpresentada = EvaluacionPresentada.where("evaluacion_grupo_id = ?", grupoevaluacion.id).order("fecha_presentacion DESC") %> 

                                <% @evaluaciones = EvaluacionPresentada.new %>

                                <% @evaluacionpresentada.each do |evaluacionpresentada| @evaluaciones = evaluacionpresentada end  %> 
                          <%= @evaluaciones.puntuacion %>/<%= grupoevaluacion.evaluacion.puntuacion %></td>
                          </td>
                           <td> <% if ! @evaluaciones.fecha_presentacion.nil? %> <%=h @evaluaciones.fecha_presentacion.strftime('%d-%m-%Y %H:%M') %>  <%end%> </td>
                          <td>
                            <a href="/clases/<%= params[:id]%>/evaluacion/<%= grupoevaluacion.id %>/overview" 
                              class="btn-primary btn-sm">PRESENTAR</a>
                            <a href="javascript:void(0)" class="btn-info btn-sm">FEEDBACK</a>
                          </td>
                        </tr>
                         <% end %>

                <%end%>
         <% end %>
      </tbody>
    </table>
  </div>
 
  <!-- Fin del panel tablasEvaluacionesCurso -->
    
  <!-- Inicio Panel listadoEvaluacionCurso -->
  <div class="tab-pane pad30-h" id="listadoEvaluacionesCurso">                     
  
   <% @cont = 1%>

<% @modulo.each do  |modulo| %>

     <a data-toggle="collapse" href="#evaluacionescollapse<%= modulo.id %>" aria-expanded="true" aria-controls="evaluacionescollapse<%= modulo.id %>" >
              <h4 class="panel-title" role="tab" id="evaluacionesheading<%= modulo.id %>">
                Leccion <%= @cont%>: <%= modulo.nombre %>
              </h4>
           </a> 
      <div id="evaluacionescollapse<%= modulo.id %>" class="panel-collapse collapse in" role="#tabpanel" 
      aria-labelledby="evaluacionesheading<%= modulo.id %>">


  <% modulo.evaluacions.each do |evaluacion| %>
    

      <% @evaluaciongrupos = EvaluacionGrupo.includes(:evaluacion).where("grupo_id = ? and evaluacion_id = ?", params[:id], evaluacion.id ).order('fecha_habilitacion ASC') %>
    
     <!-- Inicio de las Evaluaciones -->
        <% @evaluaciongrupos.each do |grupoevaluacion| %>

            <div>
             
              <!-- Button trigger modal -->
              <a class="btn modal-trigger btn-primary btn-ls" href="#modal<%= grupoevaluacion.evaluacion.id %>">
                Instrucciones</a>
                <!-- Modal Trigger -->
              <br/>
               <b>Fecha tope: <% if ! grupoevaluacion.fecha_cierre.nil? %> <%= grupoevaluacion.fecha_cierre.strftime('%d-%m-%Y %H:%M') %> <%end%> </b>
                <br/><br/>
                <div class="row">
                  <div class="col-md-1">    
                    <span class="fa-stack ">
                      <i class="fa fa-circle fa-stack-2x text-danger"></i>
                      <i class="fa fa-info fa-stack-1x fa-inverse" ></i>
                    </span>
                  </div>
                  <div class="col-md-8  col-lg-8">
                    <p> <%= grupoevaluacion.evaluacion.descripcion %> </p>
                  </div>
                </div>

                <%  @evaluacionpresentada = EvaluacionPresentada.where("evaluacion_grupo_id = ?", grupoevaluacion.id).order("fecha_presentacion DESC").limit(1) %> 

                <% @evaluaciones = EvaluacionPresentada.new %>

                <% @evaluacionpresentada.each do |evaluacionpresentada| @evaluaciones = evaluacionpresentada end  %> 

                <table>
                <tr>
                  <th><b>Calificación</b></th>
                  <th><b>Último intento</b></th>
                  <th></th>
                </tr>
                <tr>
                  <td> <%= @evaluaciones.puntuacion %></td>
                  <td><% if ! @evaluaciones.fecha_presentacion.nil? %> <%= @evaluaciones.fecha_presentacion.strftime('%d-%m-%Y %H:%M') %> <%end%></td>
                  <td>
                    <a href="/clases/<%= params[:id]%>/evaluacion/<%= grupoevaluacion.id %>/overview" 
                            class="btn-primary btn-sm">PRESENTAR</a>
                          <a href="javascript:void(0)" class="btn-info btn-sm">FEEDBACK</a>
                  </td>
                </tr>
              </table>
                <br/>
                </div>

                 <!-- Modal Structure -->
                    <div id="modal<%= grupoevaluacion.evaluacion.id %>" class="modal">
                      <div class="modal-content">
                        <a href="#" style="float:right;" class="waves-effect btn-flat modal-close"><i class="mdi-content-clear"></i></a>
                        <h4>Distancias Euleriana</h4>
                        <br/>
                        <p><%= grupoevaluacion.evaluacion.descripcion %></p>
                      </div>
                    </div>      

         <% end %>
  <!-- Fin Evaluaciones -->

    <% end %>
 <% @cont = @cont +  1%>
      </div>
    <hr/>
<% end %>

  </div>
</div>
