<!--Inicio del acordion -->
  <!-- Aqui ira el for, cambiando el id="headingNumero", href="collapseNumero" -->

<% @count = 1 %>
<% @modulo.each do  |modulo| %>
  <div class="panel panel-primary leccion">
    <div class="panel-heading" role="tab" id="leccionesheading<%= @count %>">
      <a data-toggle="collapse" href="#leccionescollapse<%= @count %>" 
        aria-expanded="true" aria-controls="leccionescollapse<%= @count %>" class="titulo-leccion panel-title">
        <h4>
           Lección <%= @count %>:  <%= modulo.nombre %>
        </h4>
        <span class="porcentaje-completado">
          <% @modulo2 = Modulo.new %>
          Completado  <%= @porcentajeCurso = @modulo2.porcentajeModulo(params[:id], modulo.id) %>%
        </span>
      </a>
    </div>
    <div id="leccionescollapse<%= @count %>" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="leccionesheading<%= @count %>">
      <div class="panel-body">
        <div class="descripcion-leccion pad15 pad30-h"><%= modulo.descripcion %>.</div>
          <!-- Inicio de Material -->
          <table class="bordered contenido material">
            <tr  class="header">
              <th style="width:25px;"></th>
              <th><i class="fa fa-graduation-cap"></i> Material </th>
              <th>
                <a href="javascript:void(0)"><i class="fa fa-download"></i></a>  
              </th>
            </tr>
         
          <% modulo.contenidos.each do |contenido| %>
            
             <% @objeto = ArchivoObjetoAprendizaje.includes(:objeto_aprendizaje).where("archivo_objeto_aprendizajes.id = ?",  contenido.objeto_aprendizaje.id ) %>

            <% @objeto.each do |archivoObjetoAprendizaje| %>
               <% if archivoObjetoAprendizaje.id == 1  %>  


                    <% if archivoObjetoAprendizaje.tipo_formato_id == 9 or archivoObjetoAprendizaje.tipo_formato_id == 10 or archivoObjetoAprendizaje.tipo_formato_id == 11 or archivoObjetoAprendizaje.tipo_formato_id == 12 %>  
                            <tr>
                              <td></td>
                              <td colspan="2">
                                <a href="javascript:void(0)" class="visualizador-contenido" data-contenido="imagen"
                                  data-url=" <%=   %> ">
                                  <i class="mdi-image-slideshow"></i>
                                  Imagen: <%= archivoObjetoAprendizaje.objeto_aprendizaje.nombre %> </a> <span class="badge  grey lighten-2"></span>
                                <a href="javascript:void(0)"><i class="fa fa-download"></i></a>
                              </td>
                            </tr>

                     <%  end %>
                     <% if archivoObjetoAprendizaje.tipo_formato_id == 1 or archivoObjetoAprendizaje.tipo_formato_id == 2  %>  
                   
                               <tr>
                                  <td></td>
                                  <td  colspan="2">
                                    <i class="fa fa-file-archive-o"></i>
                                    Archivo zip: <%= archivoObjetoAprendizaje.objeto_aprendizaje.nombre %>  <span class="badge grey lighten-2">37 Mb</span>
                                    <a href="javascript:void(0)"><i class="fa fa-download"></i></a>
                                  </td>
                                </tr> 

                    <% end %> 

                     <% if archivoObjetoAprendizaje.tipo_formato_id == 3 or archivoObjetoAprendizaje.tipo_formato_id == 4  or archivoObjetoAprendizaje.tipo_formato_id == 5  or archivoObjetoAprendizaje.tipo_formato_id == 6  or archivoObjetoAprendizaje.tipo_formato_id == 7  or archivoObjetoAprendizaje.tipo_formato_id == 8  %>  

                               <tr>
                                  <td></td>
                                  <td  colspan="2">
                                    <i class="fa fa-file-text-o"></i>
                                    Archivo zip: <%= archivoObjetoAprendizaje.objeto_aprendizaje.nombre %>  <span class="badge grey lighten-2">1 Mb</span>
                                    <a href="javascript:void(0)"><i class="fa fa-download"></i></a>
                                  </td>
                                </tr> 

                    <% end %> 

                     <% if archivoObjetoAprendizaje.tipo_formato_id == 13 or archivoObjetoAprendizaje.tipo_formato_id == 14 or archivoObjetoAprendizaje.tipo_formato_id == 15 %>  

                                <tr>
                                  <td></td>
                                  <td  colspan="2">
                                    <i class="fa fa-movie-o"></i>
                                    Video: <%= archivoObjetoAprendizaje.objeto_aprendizaje.nombre %>  <span class="badge grey lighten-2">12 Mb</span>
                                    <a href="javascript:void(0)"><i class="fa fa-download"></i></a>
                                  </td>
                                </tr> 


                    <% end %> 

                     <% if archivoObjetoAprendizaje.tipo_formato_id == 16 or archivoObjetoAprendizaje.tipo_formato_id == 17 or archivoObjetoAprendizaje.tipo_formato_id == 18 %>  

                               <tr>
                                  <td></td>
                                  <td  colspan="2">
                                    <i class="fa fa-file-code-o"></i>
                                    Video: <%= archivoObjetoAprendizaje.objeto_aprendizaje.nombre %>  <span class="badge grey lighten-2">12 Mb</span>
                                    <a href="javascript:void(0)"><i class="fa fa-download"></i></a>
                                  </td>
                                </tr> 


                    <% end %> 


               <%  end %> 
              

            <% end %>
            
      <% end %>
           
          </table>
          <table class="bordered contenido evaluaciones">
            <tr class="header">
              <th style="width:25px;"></th>
              <th><i class="fa fa-graduation-cap"></i> Evaluaciones</th>
            </tr>
     
      <% modulo.asignacions.each do |asignacion| %>
      
              <% @asignaciongrupos = AsingnacionGrupo.includes(:asignacion).where("grupo_id = ? and asignacion_id = ?", params[:id], asignacion.id).order('fecha_habilitacion ASC') %>
               
                  <% @asignaciongrupos.each do |gruposAsig| %>
                   <% if gruposAsig.asignacion.estatus == true %>
                    
                    <tr>
                      <td></td>
                      <td>
                        <a href="/clases/<%= params[:id] %>/asignacion/<%= gruposAsig.id %>/overview">Actividad <%= gruposAsig.asignacion.titulo %></a>
                      </td>
                    </tr>
                    <% end %>

                  <% end %>


            <% end %>

           
            <% modulo.evaluacions.each do |evaluacion| %>
      
              <% @evaluaciongrupos = EvaluacionGrupo.includes(:evaluacion).where("grupo_id = ? and evaluacion_id = ? ", params[:id], evaluacion.id).order('fecha_habilitacion ASC') %>
               
                  <% @evaluaciongrupos.each do |gruposEval| %>
                   <% if gruposEval.evaluacion.estatus == true %>
                    <tr>
                      <td></td>
                      <td>
                        <a href="/clases/<%= params[:id] %>/evaluacion/<%= gruposEval.id %>/overview">
                          <i class="mdi-social-whatshot orange-text accent-4"></i>Quiz: <%= gruposEval.evaluacion.titulo %><span class="badge grey lighten-2"><%= gruposEval.evaluacion.duracion %> min.</span>
                        </a>
                      </td>
                    </tr>
                    <% end %>

                  <% end %>


            <% end %>
          </table>                 
      </div>
    </div>
  </div>
  <% @count =  @count + 1 %>
<% end %>

<!-- fin del acordion -->

<div class="modal" id="visualizador">
  
</div>