<%= form_for(@organizacion) do |f| %>
  <% if @organizacion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@organizacion.errors.count, "error") %> prohibited this organizacion from being saved:</h2>

      <ul>
      <% @organizacion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :subdominio %><br>
    <%= f.text_field :subdominio %>
  </div>
  <div class="field">
    <%= f.label :estatus %><br>
    <%= f.number_field :estatus %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
