<!-- /perfil -->

<% content_for :css_personalizado do %>
  <%= stylesheet_link_tag    "organizacion" %>
  <%= stylesheet_link_tag    "mainOrg" %>
  <%= stylesheet_link_tag    "prettyPhoto" %>
<% end %>

<body data-spy="scroll" data-target="#navbar" data-offset="0">
    
   <% @organizacion = Organizacion.find_by(subdominio: request.subdomain) %>
      
    <% if ! @organizacion.portada.nil?  and @organizacion.portada != ""%>
        <section id="main-slider" style="background-image: url(/systems/<%= request.subdomain%>/portafolio/<%= @organizacion.portada %>)" class="carousel">
    <% else %>
        <section id="main-slider" class="carousel">
    <% end %>
        <div class="carousel-inner">
            <div class="item active">
                <div class="container">
                    <div class="carousel-content">
                         <% if ! @organizacion.nombre.nil? and @organizacion.nombre != "" %>
                            <h1><%= @organizacion.nombre %></h1>
                        <% end %>
                         <% if ! @organizacion.slogan.nil? and @organizacion.slogan != "" %>
                        <p class="lead"> <%= @organizacion.slogan %> </p>
                        <% else %>
                             <p class="lead"> Edita el slogan de tu organización </p>
                        <% end %>
                    </div>
                </div>
            </div><!--/.item-->
            <div class="item">
                <div class="container">
                    <div class="carousel-content">
                         <% if ! @organizacion.nombre.nil? and @organizacion.nombre != "" %>
                            <h1><%= @organizacion.nombre %></h1>
                        <% end %>

                         <% if ! @organizacion.descripcion.nil? and @organizacion.descripcion != "" %>
                        <p class="lead"> <%= @organizacion.descripcion %> </p>
                        <% else %>
                             <p class="lead"> Edita la descripcion de tu organización </p>
                        <% end %>
                    </div>
                </div>
            </div><!--/.item-->
        </div><!--/.carousel-inner-->
        
    </section><!--/#main-slider-->

    <section id="services">
        <div class="container">
            <div class="box first">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="center">
                            <i class="fa fa-money icon-md icon-color2"></i>
                            <h4>Precios</h4>
                            <p>Sin competencia, hazte experto pagando menos .</p>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6">
                        <div class="center">
                            <i class="fa fa-mobile icon-md icon-color1"></i>
                            <h4>En tu Telefono</h4>
                            <p>Sigue tu curso en cualquier momento y desde cualquier lugar</p>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6">
                        <div class="center">
                            <i class="fa fa-laptop icon-md icon-color3"></i>
                            <h4>Aplicación Web</h4>
                            <p>Accede a nuestra plataforma desde tu pc tan solo con el uso del navegador.</p>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6">
                        <div class="center">
                            <i class="fa fa-university  icon-md icon-color4"></i>
                            <h4>Certificación</h4>
                            <p>Abalado por las más prestigiosas instituciones culinarias.</p>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6">
                        <div class="center">
                            <i class="fa fa-users icon-md icon-color5"></i>
                            <h4>Muchos cursos</h4>
                            <p>De todo tipo, de cualquier país o cultura, aqui lo tenemos!.</p>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6">
                        <div class="center">
                            <i class="fa fa-video-camera icon-md icon-color6"></i>
                            <h4>Video Clases</h4>
                            <p>Entra en video clases en vivo con nuestros instructores expertos.</p>
                        </div>
                    </div><!--/.col-md-4-->
                </div><!--/.row-->
            </div><!--/.box-->
        </div><!--/.container-->
    </section><!--/#services-->

    <section id="portfolio">
        <div class="container">
            <div class="box">
                <div class="center gap">
                    <h2>Cursos Disponibles</h2>
                    <% if ! @organizacion.slogan.nil? %>
                         <p class="lead"><% @organizacion.slogan %></p>
                     <% end %>
                </div><!--/.center-->
                <ul class="portfolio-filter">
                    <li><a class="btn btn-primary active" href="#" data-filter="*">Todas</a></li>
                    <li><a class="btn btn-primary" href="#" data-filter=".bootstrap">Actuales</a></li>
                    <li><a class="btn btn-primary" href="#" data-filter=".wordpress">Pasados</a></li>
                </ul><!--/#portfolio-filter-->
                <ul class="portfolio-items col-4">

                    <%  @grupos = Grupo.includes(:curso).where('fecha_inicio <= ? and ? <= fecha_fin', Time.now.midnight,Time.now.midnight) %>

                    
                    <% if @grupos.count > 0 %>
                        <% @grupos.each do |grupo| %>
                                
                                <li class="portfolio-item joomla bootstrap">
                                    <div class="item-inner">
                                        <div class="portfolio-image">
                                            <img src="/systems/<%= request.subdomain %>/cursos/<%= grupo.curso.foto %>" alt="">
                                            <div class="overlay">
                                                <a class="preview btn btn-danger" title="<%= grupo.curso.nombre %>" href="/systems/<%= request.subdomain %>/cursos/<%= grupo.curso.foto %>"><i class="fa fa-eye"></i></a>  
                                            </div>
                                        </div> 
                                        <h5><%= grupo.curso.nombre %></h5>         
                                    </div>
                                </li><!--/.portfolio-item-->
                        <% end %>

                    <% end %>

                    <% @curso = Curso.all %>

                    <%  @curso.each do |curso| %>
                        <% @grupos = Grupo.includes(:curso).where('cursos.id', curso.id) %>
                            <% if @grupo.nil? %>

                                 <li class="portfolio-item joomla wordpress apps">
                                    <div class="item-inner">
                                        <div class="portfolio-image">
                                            <img src="/systems/<%= request.subdomain %>/cursos/<%= curso.foto %>" alt="">
                                            <div class="overlay">
                                                <a class="preview btn btn-danger" title="<%= curso.nombre %>" href="/systems/<%= request.subdomain %>/cursos/<%= curso.foto %>"><i class="fa fa-eye"></i></a>  
                                            </div>
                                        </div> 
                                        <h5><%= curso.nombre %></h5>         
                                    </div>
                                </li><!--/.portfolio-item-->
                              


                            <% end %>
                                
                    <% end %>

                </ul>   
            </div><!--/.box-->
        </div><!--/.container-->
    </section><!--/#portfolio-->

    <section id="pricing">
        <div class="container">
            <div class="box">
                <div class="center">
                    <h2>¿Cuanto cuesta? </h2>
                    <p class="lead">Elige el plan que mejor se adapte a ti <br> y comencemos a cocinar!</p>
                </div><!--/.center-->   
                <div class="big-gap"></div>
                <div id="pricing-table" class="row" >
                    <div class="col-sm-6">
                        <ul class="plan">
                            <li class="plan-name">Basico</li>
                            <li class="plan-price">$2</li>
                            <li>Precio por mes</li>
                            <li>Cursos Basicos disponibles</li>
                            <li>Certificado virtual</li>
                            <li>Conectividad en todo momento</li>
                            <li>Soporte tecnico</li>
                            <li class="plan-action"><a href="#" class="btn btn-primary btn-lg">Inscribirse</a></li>
                        </ul>
                    </div><!--/.col-sm-4-->
                    
                    <div class="col-sm-6">
                        <ul class="plan featured">
                            <li class="plan-name">Avanzado</li>
                            <li class="plan-price">$9</li>
                            <li>Precio por mes</li>
                            <li>Todos los cursos disponibles</li>
                            <li>Certificado Fisico</li>
                            <li>Conectividad en todo momento</li>
                            <li>Soporte tecnico</li>
                            <li class="plan-action"><a href="#" class="btn btn-primary btn-lg">Inscribirse</a></li>
                        </ul>
                    </div><!--/.col-sm-4-->
                </div> 
            </div> 
        </div>
    </section><!--/#pricing-->

    <section id="about-us">
        <div class="container">
            <div class="box">
                <div class="center">
                    <h2>El mejor equipo</h2>
                    <p class="lead">Los mas preparados Instrucctores.</p>
                </div>
                <div class="gap"></div>
                <div id="team-scroller" class="carousel scale">
                    <div class="carousel-inner">
                        <div class="item active">

                              <% @usuariosrol = UsuarioRol.where("rol_id = ?", 6).limit(2) %>
                                <% if @usuariosrol.count > 0 %>

                                    <% @usuariosrol.each do |usuarRol| %>
                                       <% if ! usuarRol.usuario.perfil.nil?%>

                                         <div class="col-sm-4">
                                           <div class="member">
                                             <%if ! usuarRol.usuario.perfil.foto.nil? and usuarRol.usuario.perfil.foto != "" %>
                                                <p><img class="img-responsive img-thumbnail img-circle" src="<%= usuarRol.usuario.perfil.foto %>" alt="" ></p>
                                            <% else %>
                                                 <p><img class="img-responsive img-thumbnail img-circle" src="/assets/avatar/sinfoto.jpg" alt="" ></p>
                                            <% end %>

                                                <h3> <%= usuarRol.usuario.nombre %> <%= usuarRol.usuario.apellido %><small class="designation">Ejecutivo</small></h3>
                                            </div>
                                        </div>

                                     <% end %>

                                    <% end %>


                            <% end %>


                            <% @usuariosrol = UsuarioRol.where("rol_id = ?", 2).limit(1) %>
                                <% if @usuariosrol.count > 0 %>

                                    <% @usuariosrol.each do |usuarRol| %>
                                         <% if ! usuarRol.usuario.perfil.nil?%>

                                         <div class="col-sm-4">
                                          <div class="member">
                                             <%if ! usuarRol.usuario.perfil.foto.nil? and usuarRol.usuario.perfil.foto != "" %>
                                                <p><img class="img-responsive img-thumbnail img-circle" src="<%= usuarRol.usuario.perfil.foto %>" alt="" ></p>
                                            <% else %>
                                                 <p><img class="img-responsive img-thumbnail img-circle" src="/assets/avatar/sinfoto.jpg" alt="" ></p>
                                            <% end %>

                                                <h3> <%= usuarRol.usuario.nombre %> <small class="designation">Instructor</small></h3>
                                            </div>
                                        </div>

                                    <% end %>
                                <% end %>


                            <% end %>
                            
                        </div>
                        
                    </div>
                    <a class="left-arrow" href="#team-scroller" data-slide="prev">
                        <i class="fa fa-angle-left icon-4x"></i>
                    </a>
                    <a class="right-arrow" href="#team-scroller" data-slide="next">
                        <i class="fa fa-angle-right icon-4x"></i>
                    </a>
                </div><!--/.carousel-->
            </div><!--/.box-->
        </div><!--/.container-->
    </section><!--/#about-us-->

    <section id="contact">
        <div class="container">
            <div class="box last">
                <div class="row">
                    <div class="col-sm-6">
                        <h1>Formulario de Contactos</h1>
                        <p>Si necesitas mas información no dudes en comunicarte con nosotros.</p>
                        <div class="status alert alert-success" style="display: none"></div>
                        <form id="main-contact-form" class="contact-form" name="contact-form" method="post" action="sendemail.php" role="form">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" required="required" placeholder="nombre">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" required="required" placeholder="Correo">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <textarea name="message" id="message" required="required" class="form-control" rows="8" placeholder="Mensaje"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-danger btn-lg">Enviar Mensaje</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div><!--/.col-sm-6-->
                    <div class="col-sm-6">
                        <h1>Direcciones</h1>
                        <div class="row">
                            <div class="col-md-6">
                                <address>
                                    <strong> Datos </strong><br>
                              
                                    <% if ! @organizacion.pais_id.nil? %>
                                    <% pais = Pais.find_by(id: @organizacion.pais_id) %>
                                     <% pais.nombre %> <br>
                                    <% end %>

                                    <% if ! @organizacion.telefono1.nil? %>
                                         <abbr title="Telefono">Telf.:</abbr> <%= @organizacion.telefono1 %>
                                     <%= pais.nombre %> <br>
                                    <% end %>

                                    <% if ! @organizacion.email1.nil? %>
                                         <abbr title="Telefono">Telf.:</abbr> <%= @organizacion.email1 %>
                                     <%= pais.nombre %> <br>
                                    <% end %>
                            
                                </address>
                            </div>
                            <div class="col-md-6">
                                <address>
                                    <strong> Datos </strong><br>
                                
                                    San Francisco, CA 94107<br>
                                   <% if ! @organizacion.telefono2.nil? %>
                                         <abbr title="Telefono">Telf.:</abbr> <%= @organizacion.telefono2 %>
                                     <%= pais.nombre %> <br>
                                    <% end %>

                                    <% if ! @organizacion.email2.nil? %>
                                         <abbr title="Telefono">Telf.:</abbr> <%= @organizacion.email2 %>
                                     <%= pais.nombre %> <br>
                                    <% end %>

                                </address>
                            </div>
                        </div>
                     <% redes = OrganizacionRedSocial.includes(:red_social).where("organizacion_id = ?", 1) %>

                        <h1>Contactanos</h1>
                        <div class="row">
                            <div class="col-md-6">
                                <ul class="social">

                                    <% redes.each do |red| %>
                                           <% if ! red.red_social.nil? %>
                                          
                                           <li><a class="grey-text lighten-3" href="<%= red.red_social.url %> <%= red.valor %> icon-social"> <i class="<%= red.red_social.icono %> "></i></a></li>

                                          <% end %>
                                    <% end %>

                                
                                </ul>
                            </div>
                            
                        </div>
                    </div><!--/.col-sm-6-->
                </div><!--/.row-->
            </div><!--/.box-->
        </div><!--/.container-->
    </section><!--/#contact-->

<% content_for :js_personalizado do %>

  <%= javascript_include_tag 'organizacion/jquery.isotope.min' %>
  <%= javascript_include_tag 'organizacion/jquery.prettyPhoto.js' %>
  <%= javascript_include_tag 'organizacion/main' %>
  <%= javascript_include_tag 'organizacion/respond.min' %>
  <% end %>
</body>