<!-- /perfil -->

<% content_for :css_personalizado do %>
  <%= stylesheet_link_tag    "organizacion" %>
<% end %>


<div class="row " style="background-image: url('/assets/cocina.jpg');">
<div class="text-right">
  <ol class="breadcrumb">
    <li><%= link_to "Home", root_path %></li>
  </ol>
</div>

  
      <div class="tabs side-nav">
  
    <ul class="nav nav-pills pull-right">
      <li role="presentation" title="Estadisticas en lo Económico" > <a href="#home" class="black-text"> <b> Home </b> </a> </li>
      <li role="presentation" title="Estadisticas del sistema" > <a href="#politicas" class="black-text"> <b>Politicas </b> </a> </li>
      <li role="presentation" title="Estadisticas Sociales" > <a href="/cursos" class="black-text"> <b>Cursos </b> </a> </li>
      <li role="presentation" title="Estadisticas Sociales" > <a href="#instructores" class="black-text"> <b> Instructores </b> </a> </li>
      <%  if @valor == true %>
      <li role="presentation" title="Estadisticas Sociales" > <a href="/perfil/editar" class="black-text"> <b> Editar </b> </a> </li>
      <li role="presentation" title="Estadisticas Sociales" > <a href="/apariencia/editar" class="black-text"> <b>Apariencia </b> </a> </li>
      <li role="presentation" title="Estadisticas Sociales" > <a href="/usuarios" class="black-text"> <b> Usuarios </b> </a> </li>
      <%  end %>
       <li role="presentation" title="Estadisticas Sociales" > <a href="#contacto" class="black-text"> <b> Conctacto </b> </a> </li>
      
    </ul>

  </div>

</div>




<div class="row pad30-h">
  <div class="col-lg-12"> 
      <div class="tab-pane" id="home">
        <div class="row">
          <div class="col-md-12 text-primary text-uppercase text-center" style="font-size: 25px;"> Cocina C.A <hr> <span class="text-muted "style="font-size: 18px;">  GOURMET Y DELICATESES </span></div>
         
        </div>

    </div>

    <div class="tab-pane" id="politicas">
         <%= render "organizacions/elementos/politicas" %>
    </div>
    <div class="tab-pane pad30-h" id="instructores">
        <%= render "organizacions/elementos/instructores" %>
    </div>
    <div class="tab-pane" id="contacto">
          <%= render "organizacions/elementos/contactos" %>    
      
    </div>

  </div>
</div>








 