<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @organizacion.nombre %>
</p>

<p>
  <strong>Subdominio:</strong>
  <%= @organizacion.subdominio %>
</p>

<p>
  <strong>Estatus:</strong>
  <%= @organizacion.estatus %>
</p>

<%= link_to 'Edit', edit_organizacion_path(@organizacion) %> |
<%= link_to 'Back', organizacions_path %>
