<!-- /usuarios  -->


<% content_for :css_personalizado do %>
 <%= stylesheet_link_tag    "jquery.dataTables" %> 
<% end %>

<div class="row titulo-seccion">
  <div class="col s6">
    <h5 class="text-uppercase">Usuarios</h5>
  </div>
  <div class="col s6 text-right">
   <ol class="breadcrumb">
    <li><%= link_to "Home", root_path %></li>
    <li class="active">Usuarios</li>
  </ol>
  </div>
</div>



<div class="row pad30-h">
<br><br>
<table id="exampletodos" class="display" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th>foto</th>
              <th>Nombre</th>
              <th>correo</th>
              
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>

            <% usuarios = Usuario.all %>
                <% usuarios.each do |usuarios| %>

                  <tr>
                     <% if ! usuarios.perfil.foto.nil? and usuarios.perfil.foto != "" %>
                       <td> <img src="/systems/<%= request.subdomain %>/avatar/<%= usuarios.perfil.foto %>" style="width: 33px;"></td>
                      <% else %>
                        <td> <img src="/assets/avatar/sinfoto.jpg" style="width: 33px;" /> </td>
                      <% end %>  
                    <td data-search="<%= usuarios.nombre %> <%= usuarios.apellido %>"> <%= usuarios.nombre %> <%= usuarios.apellido %></td>
                    <td><%= usuarios.email %></td>
                    
                    <td> 
                      <a href="/usuarios/<%= usuarios.id %>" class="btn-success btn-sm">Ver</a>
                       <a class="modal-trigger btn-primary btn-sm" href="#modal<%= usuarios.id %>"> Agregar Rol</a>
                       <a href="javascript:void(0)" class="btn-warning btn-sm disabled ">Desahilitar</a>
                       <a href="javascript:void(0)" class="btn-info btn-sm disabled ">Mensaje</a>
                    </td>  
                    </tr>


                <% end %>
            
          </tbody>
        </table>

<% usuarios = Usuario.all %>
                <% usuarios.each do |usuarios| %>


            <!-- Modal Structure -->
                    <div id="modal<%= usuarios.id %>" class="modal">
                      <div class="modal-content">
                        <a href="#" style="float:right;" class="waves-effect btn-flat modal-close"><i class="mdi-content-clear"></i></a>
                        <h4 style="text-align: center;">Agregar Rol</h4>
                        <br><br>
                        <div class="row">
                            <div class="col s12">
                              <div class="col s3">
                                   <% if ! usuarios.perfil.foto.nil? and usuarios.perfil.foto != "" %>
                                     <td> <img src="/systems/<%= request.subdomain %>/avatar/<%= usuarios.perfil.foto %>" style="width: 150px; height: 150px;"></td>
                                    <% else %>
                                      <td> <img src="/assets/avatar/sinfoto.jpg" style="width: 33px;" /> </td>
                                    <% end %>  
                              </div>
                              <div class="col s9">
                                    <p>Usuario: <%= usuarios.nombre %> <%= usuarios.apellido %> </p>
                                    <br>
                                    <p> Haz click en el rol que desees para el usuario:</p>

                                      <label>Roles</label>
                                     <ul class="list-inline">
                                       <% rol_array = Rol.limit(5)  %>
                                       <% rol_array.each do |rol| %>

                                          <li> <a href="/agregarRol/<%= rol.id %>/<%= usuarios.id %>" class="btn-success btn-sm"> <%= rol.nombre %></a> </li>

                                       <% end %>
                                        
                                          
                                    </ul>
                              </div>

                            </div>

                        </div>
                                    
                      </div>
                    </div>  

                    

<% end %>

 
  
</div>

<% content_for :js_personalizado do %>

  <%= javascript_include_tag 'jquery.dataTables.min' %>
 <script type="text/javascript">
    $(document).ready(function(){
  $('#exampletodos').dataTable();
    });
  </script>
<% end %>