<!-- /usuarios  -->


<% content_for :css_personalizado do %>
 <%= stylesheet_link_tag    "jquery.dataTables" %> 
<% end %>

<div class="row titulo-seccion">
  <div class="col s6">
    <h5 class="text-uppercase">Usuarios</h5>
  </div>
  <div class="col s6 text-right">
   <ol class="breadcrumb">
    <li><%= link_to "Home", root_path %></li>
    <li class="active">Usuarios</li>
  </ol>
  </div>
</div>



<div class="row pad30-h">
<br><br>
<table id="exampletodos" class="display" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th>foto</th>
              <th>Nombre</th>
              <th>correo</th>
              <th>Rol</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>

            <% usuarios = Usuario.all %>
                <% usuarios.each do |usuarios| %>

                  <tr>
                     <% if ! usuarios.perfil.foto.nil? and usuarios.perfil.foto != "" %>
                       <td> <img src="/systems/<%= request.subdomain %>/avatar/<%= usuarios.perfil.foto %>" style="width: 33px;"></td>
                      <% else %>
                        <td> <img src="/assets/avatar/sinfoto.jpg" style="width: 33px;" /> </td>
                      <% end %>  
                    <td data-search="Herrod Chandler"> <%= usuarios.nombre %> <%= usuarios.apellido %></td>
                    <td><%= usuarios.email %></td>
                    <td>administrador</td>
                    <td> 
                      <a href="/usuarios/<%= usuarios.id %>" class="btn-success btn-sm">Ver</a>
                       <a href="javascript:void(0)" class="btn-primary btn-sm">Agregar Rol</a> 
                       <a href="javascript:void(0)" class="btn-warning btn-sm disabled ">Desahilitar</a>
                       <a href="javascript:void(0)" class="btn-info btn-sm disabled ">Mensaje</a>
                    </td>  
                  </tr>

                <% end %>
            

          </tbody>
        </table>


 
  
</div>

<% content_for :js_personalizado do %>

  <%= javascript_include_tag 'jquery.dataTables.min' %>
 <script type="text/javascript">
    $(document).ready(function(){
  $('#exampletodos').dataTable();
    });
  </script>
<% end %>