<div class="pad15"></div>
<div id="form-registro-container" class="pad15 pad15-h center-block panel">
	<div id="titulo">
		<h3>Inicia sesi&oacute;n</h3>
	</div>
	<div id="secciones" style="display:inline-block;width:100%;">
		<div class="pull-left seccion">
			<%= form_for(:usuario, :url => entrar_url) do |f| %>
			  <div><%= f.label :email,"Email" %><br />
			  <%= f.email_field :email, :autofocus => true %></div>

			  <div><%= f.label :password, "Contraseña" %><br />
			  <%= f.password_field :password, {"id"=>"password"} %></div>
			  <% if devise_mapping.rememberable? -%>
			    <span class="pull-right"><%= f.check_box :remember_me %> <%= f.label :remember_me, "No cerrar sesión" %></span>
			  <% end -%>
			  <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
				  <%= link_to "Olvide mi contraseña", new_password_path(resource_name) %><br />
			  <% end -%>
			  <br/>
			  <%= devise_error_messages! %>
			  <%- flash.each do |name, msg| -%>
				<%= content_tag :div, msg, {id: "flash_#{name}", class: "msj-error"} %>
			  <%- end -%>


			  <input type="submit" value="Entrar" class= "btn btn-primary"></input>
			  
			  <div class="text-center">
			  <strong>O inicia sesi&oacute;n con </strong>
			  <a href="javascript:void(0)" class="fb"><i class="fa fa-facebook"></i></a>
			  <a href="javascript:void(0)" class="tw"><i class="fa fa-twitter"></i></a>
			  <a href="javascript:void(0)" class="gp"><i class="fa fa-google-plus"></i></a>
			</div>
		<% end %>
		</div>
		<div class="pull-left seccion text-center">
			<div class="pad45">
				<i class="mdi-action-perm-contact-cal"></i><br>
				¿No tienes una cuenta a&uacute;n? <%= link_to "regístrate", "/registro" %><br />
			</div>
		</div>
	</div>
</div>

<div class="pad30"></div>

