<div class="row titulo-seccion">
  <div class="col s6">
    <h5 class="text-uppercase">Previo Examen</h5>
  </div>
  <div class="col s6 text-right">
    <ol class="breadcrumb">
     <li><%= link_to "Home", root_path %></li>
	  <li class="active">Previo Examen</li>
    </ol>
  </div>
</div>
<div class="row pad45">
	<div class="col-lg-7">
		<div class="panel block-center">
			<div class="panel-body pad30 pad45-h">
										

				<h4>Cuestionario: <%= @evaluaciongrupos.evaluacion.titulo %></h4>
				<p>Con este cuestionario se pretende:  <%= @evaluaciongrupos.evaluacion.descripcion %>.
					<br/>
					<i class="mdi-action-schedule"></i> Tiempo: <%= @evaluaciongrupos.evaluacion.duracion %> min.<br>
					<i class=""></i> Intentos: 2 de 5<br>
					<i class=""></i> Ponderación: <%= @evaluaciongrupos.evaluacion.puntuacion %> puntos<br> 
					<i class=""></i> Abierto hasta: <%=h  @evaluaciongrupos.fecha_cierre.strftime('%d-%m-%Y') %><br> 
				</p>
				<% hoy =  Date.today %>
				<% cierre =   @evaluaciongrupos.fecha_cierre %>
				<% if  hoy >=  cierre %>
					<a href="/clases/1/evaluacion/1/presentar" class="btn btn-primary" disabled>comenzar</a>
				<% else %>
					<a href="/clases/1/evaluacion/1/presentar" class="btn btn-primary">comenzar</a>
				<% end %>
			</div>
		</div>
	</div>
</div>