<div class="row titulo-seccion">
  <div class="col s6">
    <h5 class="text-uppercase">Examen</h5>
  </div>
  <div class="col s6 text-right">
    <ol class="breadcrumb">
     <li><%= link_to "Home", root_path %></li>
     <li><%= link_to "Carga académica", clases_path %></li>
	  <li class="active">Examen</li>
    </ol>
  </div>
</div>
<div class="row pad45">
				    
	 <div class="col-lg-10 block-center">
	 <%= form_tag(:url => {:action => 'create' , })%>
		  <h4 class="deep-orange-text lighten-2">
			Cuestionario: <%= @evaluacion.titulo%> </h4>
		 <span class="text-right"><i class="mdi-action-schedule"></i> 
			 <%= Time.now.strftime("%b, %d de %Y") %>
		 </span>
	   <hr>		
		 	<% @evaluacion.pregunta.each do |p| %>
		  	 <div class="badge new cyan lighten-3">
						 <strong>Pregunta </strong>
		    	  </div>			
					 <div class="panel">
							<div class="panel-body">
							<p class="pad15-h">
							<%= p.enunciado%>
							</p>			
							</div>		
					 </div>			
					<div class="pad30-h"> 	
			     	  <% p.respuesta.each do |r| %>  
					 	      	 <div class="form-control">
					 	       	  	        <%if p.tipo == 2 %>   
					 	       	  	         <span class='select_respuesta'>
    										<%= check_box_tag "pregunta[respuesta_ids][#{r.id}]",r.id %>
  											  <%= label_tag "pregunta[respuesta_ids][#{r.id}]", r.valor %>
  											</span>	      
                                                <% elsif p.tipo == 1  %>							
												<input id="idR" name="respuesta" type="radio" value="valor" />
												<label for="idR"><%= label_tag r.valor %></label>	
	                        		        <% else %>	         			    
     								 			   <%= label_tag :respuesta, "Ingresa Respuesta" %>
           									 	   <%= r.text_field_tag :respuesta %>
						 				    <% end %>	
					               </div>							   
			            <% end %>	
			   	 </div>		   
		    <% end %>
<%= submit_tag 'enviar' %>


     </div>
</div>


 
<%  if @evaluacion.duracion > -1 %>
	<div class="timer">
		<div id="countdown">

		</div>
	</div>
<% end %>

<% content_for :js_personalizado do %>
  <%= javascript_include_tag "jquery.scrolline" %>
  <%= javascript_include_tag "jquery.countdown360" %>
  <%= javascript_include_tag "evaluacion" %>

<% end %>
