<!-- Usuario/editar perfil -->

<% content_for :css_personalizado do %>
 <%= stylesheet_link_tag    "usuarios" %> 
 <%= stylesheet_link_tag    "plugins/fileinput.min" %> 
<% end %>

<div class="row titulo-seccion">
  <div class="col s6">
    <h5 class="text-uppercase">Editar perfil</h5>
  </div>
  <div class="col s6 text-right">
    <ol class="breadcrumb">
      <li><%= link_to "Home", root_path %></li>
      <li class="active">Editar perfil</li>
    </ol>
  </div>
</div>

<div class="row pad30-h">
  <div class="col s8 panel">
    <div class="row">
      <div class="col s12">
        <%= form_for(resource, :as => resource_name, :url => usuarios_editar_path, :html => { :method => :post }) do |f| %>
          <div class="row">
            <h5>Datos básicos</h5>
            <div class="input-field col s6">
              <label for="usuario[nombre]">Nombre</label>
              <input id="usuario[nombre]" type="text" required></input>
            </div>
            <div class="input-field col s6">
              <label for="usuario[apellidos]">Apellido</label>
              <input id="usuario[apellidos]" type="text" required></input>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <label for="usuario[email]">Email</label>
              <input id="usuario[email]" type="email" required>         
            </div>
            <div clas="input-field col s6">
              <label>Sexo</label>
              <p>
                <input name="usuario[sexo]" type="radio" id="sexo_usuario_1" checked class="with-gap"/>
                <label for="sexo_usuario_1">Masculino</label>
                <input name="usuario[sexo]" type="radio" id="sexo_usuario_0"  class="with-gap"/>
                <label for="sexo_usuario_0">Femenino</label>
              </p>
            </div>  
            
          </div>
          <div class="row">
            <div class="col s6">
              <label>País</label>
              <select name="usuario[pais]">
                <option value="" disabled selected>Escoge tu país</option>
                <option value="1">Venezuela</option>
                <option value="2">Colombia</option>
                <option value="3">Panamá</option>
              </select>
            </div>
          </div>

          <hr/>

          <h5></h5>
          <div class="row">
            <div class="input-field col s5">
              <label for="usuario[perfil][ocupacion]">Ocupación</label>
              <input id="usuario[perfil][ocupacion]" type="text" required></input>                  
            </div>
          </div>
          <div class="col s12 input-field">
            <div class="col s12">
              <label for="usuario[perfil][biografia]">Acerca de tí</label>
              <textarea id="usuario[perfil][biografia]"></textarea>                
            </div>  
          </div>
          <div class="col s12 input-field">
            <div class="col s12">
              <label for="usuario[perfil][intereses]">Intereses</label>
              <textarea id="usuario[perfil][intereses]"></textarea>                
            </div>  
          </div>

          <hr/>

          <h5>Redes sociales</h5>
          <div class="row">
            <div class="col s7">
              <ul id="lista-redes-sociales" class="vacia">
                <li>No has agregado ninguna red social. Usa el botón a la derecha para hacerlo.</li>
              </ul>
            </div>
            <div class="col s5 text-center">
              <div class="dropdown">
                <a href="javascript:void(0)" class="btn-floating waves-effect waves-light red"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="mdi-content-add"></i>
                </a>
                <ul id="agregar-red-social" class='dropdown-menu list-inline' role="menu">
                  <li><a href="javascript:void(0)" class="fb"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="javascript:void(0)" class="tw"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="javascript:void(0)" class="gp"><i class="fa fa-google-plus"></i></a></li>
                  <li><a href="javascript:void(0)" class="lk"><i class="fa fa-linkedin"></i></a></li>
                  <li><a href="javascript:void(0)" class="gh"><i class="fa fa-github"></i></a></li>
                </ul>
              </div>
              
            </div>
          </div>
          <div class="row pad30">
            <div class="col s12">         
              <a href="javascript:void(0)" class="btn btn-success">Guardar</a>
              <a href="javascript:void(0)" class="btn btn-info">Cancelar</a> 
            </div>
          </div>
          <div class="pad15"></div> 
        <% end %>
      </div>
    </div> 
  </div>
  <div class="col s4">
    <div class="row">
      <div class="col s12 panel">
        <h5>Cambiar foto</h5>
        <input id="avatar-id" type="file" class="file" data-upload-url="/usuario/guardar_foto"/>
        <div class="pad15"></div>
      </div>
    </div>
    <div class="pad15"></div>
    <div class="row panel pad15 pad30-h">
      <div class="col s12">
        <%= render "devise/passwords/edit" %>
        <div class="pad15"></div>
      </div>
    </div>
    <div class="pad15"></div>
  </div>
</div>
<% content_for :js_personalizado do %>
  <%= javascript_include_tag 'plugins/fileinput.js' %>
  <%= javascript_include_tag 'usuarios' %>
  <script type="text/javascript">
    $("#avatar-id").fileinput({
      'browseLabel':'cambiar',
      'showCaption':false,
      'initialPreview': [
        "<img src='/assets/profile_user.jpg' class='file-preview-image' alt='Avatar' title='Foto de perfil actual'>",
      ],
      'initialPreviewShowDelete':false,
      'initialCaption':'archivo(s) seleccionado(s)',
      'allowedFileTypes':['image'],
      'allowedFileExtensions':['jpg', 'gif', 'png', 'jpeg'],
      'browseClass':'btn btn-primary',
      'browseIcon':'<i class="mdi-file-attachment"></i>',
      'showRemove':false,
      'uploadLabel':'Subir',
      'uploadIcon':'<i class="mdi-file-file-upload"></i>',
      'uploadClass':'btn btn-success ',
    });
  </script>
<% end %>

