<div class="row titulo-seccion">
  <div class="col s6">
    <h5 class="text-uppercase">Editar preferencias</h5>
  </div>
  <div class="col s6 text-right">
    <ol class="breadcrumb">
      <li><%= link_to "Home", root_path %></li>
      <li class="active">Preferencias</li>
    </ol>
  </div>
</div>

<div class="pad15"></div>
<div class="row">
	
		 <%= form_for(@usuario,  :as => resource_name, :url => preferencias_path, :html => { :method => :post }) do |f| %>
		  <%= f.fields_for :perfil do |perfil| %>
			
		<div class="col s6">
              <label>Quién puede ver mi perfil</label>
              <%= perfil.select :preferencia, options_for_select( [ ["Cualquier Persona", "cualquier persona"], ["Solo Usuarios Registrados","solo usuarios registrados"], ["Solo yo","solo yo"] ],  @usuario.perfil.preferencia   )  %>
               
         </div>
         <div class="col s6">
              <%= f.submit "Actualizar", :class => 'btn btn-success' %>  
         </div>

          <% end %> 
         <% end %> 


	
</div>

<label>Enviarme un correo cuando se notifique </label>