<!-- usuario/perfil -->

<% content_for :css_personalizado do %>
 <%= stylesheet_link_tag    "usuarios" %>
<% end %>

<div class="row titulo-seccion">
  <div class="col s6">
    <h5 class="text-uppercase"> Perfil Usuario <%= @usuario.nombre%> <%= @usuario.apellido%> </h5>
  </div>
  <div class="col s6 offset-s6 text-right">
    <ol class="breadcrumb">
      <li><%= link_to "Home", root_path %></li>
      <li class="active">Perfil de usuario</li>
    </ol>
  </div>
</div>



<div class="row pad30-h">
  <div class="col s3">
    <%= render "usuarios/application/panelPersonal" %>
  </div>
  <div class="col s7">
    <div class="panel pad30-h">
      <div class="row">
         <div class="col s12">
            <h5 class="blue-text accent-1 text-uppercase"> Acerca de mi</h5>
            <br/> 
            <i class="fa fa-tag font21px"></i> <% pais = Pais.new %> 
            <% pais = Pais.where("id = ?", @usuario.perfil.id).limit(1)  %> 
            <% pais.each do |pais2| pais = pais2 end %> 
            <%= pais.nombre %>

            <p class="margen">
                  <br>
                 <%= @usuario.perfil.biografia %>
            </p>
            <br>
            <i class="fa fa-pencil font21px"></i> Intereses
            <p class="margen">
               <%= @usuario.perfil.intereses %>
            </p>
         </div>
       </div> 
    </div>
    <%= render "usuarios/application/panelCurso" %>
  </div>
</div>

