<!DOCTYPE html>
<html>
  <head>
    <title>Xlearning</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <%= stylesheet_link_tag    "bootstrap-blue" %>
    <%= stylesheet_link_tag    "materialize" %>
    <%= stylesheet_link_tag    "bootstrap-blue-theme" %>
    <%= stylesheet_link_tag    "font-awesome.min" %>
    <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Roboto" %>
    <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Raleway:600" %>

    <%= yield :css_personalizado %>
    
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render "application/header" %>
    </header>
    <main class="container-fluid no-padding no-margin">
      <div class="row">
        <% if usuario_signed_in? %>
          <div class="col-md-3 col-lg-2 no-padding">
            <%= render "application/menu" %>
          </div>
          <div class="col-md-9 col-lg-10">
            <%= yield %>
          </div>
        <% else %>
            <div class="col-md-12 col-lg-12 no-padding">
              <%= yield %>
            </div>
        <% end %>
      </div>
    </main>
    <footer>
      <%= render "application/footer" %>
      <%= javascript_include_tag 'application' %>
      
      <%= yield :js_personalizado %>
    </footer>
  </body>
</html>
