<!-- 
  application.html.erb

  Laboratorio III. Dreamteam B. / Ejecutivo Desktop 

  Proyecto  : Xlearning 
  
      Autores :           C.I             Email
  Asaro Guillermo   C.I.: 20.010.162  guillermoasaro@gmail.com
  Bravo Jhosedith   C.I.: 20.237.969  jhosedithbravo.23@gmail.com
  Maldonado Carlex  C.I.: 22.331.306  c.valentinamm@gmail.com
  Suarez Tony       C.I.: 20.671.198  suarezcumare@gmail.com

  
  Ultima Modificación, Fecha  : 07 de enero del 2015


-->

<!DOCTYPE html>
<html>
  <head>
    <title>Xlearning</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <%= stylesheet_link_tag    "bootstrap-blue" %>
    <%= stylesheet_link_tag    "materialize.min" %>
    <%= stylesheet_link_tag    "bootstrap-blue-theme" %>
    <%= stylesheet_link_tag    "font-awesome.min" %>
    <% #stylesheet_link_tag "http://fonts.googleapis.com/css?family=Roboto" %>
    <% #stylesheet_link_tag "http://fonts.googleapis.com/css?family=Raleway:600" %>

    <%= yield :css_personalizado %>
    
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render "application/header" %>
    </header>
    <main class="container-fluid no-padding no-margin">
      <div class="row">
        <% if usuario_signed_in? %>
          <div class="col-md-3 col-lg-2 no-padding">
            <%= render "application/menu" %>
          </div>
          <div class="col-md-9 col-lg-10  no-padding">
            <%= yield %>
            <footer>
              <%= render "application/footer" %>
            </footer>
          </div>
        <% else %>
            <div class="col-md-12 col-lg-12 no-padding">
              <%= yield %>
              <footer>
                <%= render "application/footer" %>
              </footer>
            </div>
        <% end %>
      </div>
      <div class="scroll-to-top">
        <a href="javascript:void(0)"><i class="fa fa-arrow-circle-o-up"></i></a>
      </div>
    </main>
    <%= javascript_include_tag 'application' %>
    <%= yield :js_personalizado %>
  </body>
</html>
